*~
._*

_site/
target/
out/
tmp/
bin/
logs/

.idea
.DS_Store
.checkstyle
.history
.settings
.classpath
.project

Thumbs.db

*.iml
*.lock
*.class
*.jar
*.war
*.zip
*.rar
*.ear
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
